#contact {
    position: relative;
    bottom: 0px;
    height: 300px;
    width: 100%;
    background: var(--dark-2);
    display: flex;
    flex-direction: column;

    align-content: center;
    justify-content: center;
}

.contcon {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.contcon a {
    padding: 15px 30px;
    margin: 20px;
    background-color: var(--cute-yellow);
    border-radius: 6px;
    text-decoration: none;
    color: var(--dark-2);

    background-color: var(--color-pink);
    background-image: linear-gradient(to bottom right, var(--color-pink), var(--cute-yellow));
    font-weight: bold;

}

.email {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    color: var(--white-transparent);
}
.email p:nth-child(1){
    margin-right: 10px;
}

.duck {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.duck a {
    padding: 15px 30px;
    margin: 20px;
    
    border: 2px solid var(--cute-yellow);

    border-radius: 6px;
    text-decoration: none;
    color: var(--cute-yellow);
}