body {
  font-family: 'Fira Code', monospace;
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
}
html {
  scroll-behavior: smooth;
}
:root {
  --secondary: #FA8970;
}
.tr02 {
  transition: 0.2s;
}
.h1 {
  font-size: 2.5em;
  font-family: 'Rubik', sans-serif;
}
.section {
  margin-top: 80px;
  box-sizing: border-box;
}
.width-reactive {
  width: 1000px;
  max-width: calc(100% - 100px);
}
.fillgrad {
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
}
@-moz-document url-prefix() {
  .fillgrad {
    color: #FA8970;
    background-color: none;
    -webkit-text-fill-color: #FA8970;
  }
}
.link {
  color: #FA8970;
  text-decoration: none;
}
.container {
  margin: auto;
  width: 1000px;
  max-width: calc(100% - 100px);
}
nav {
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  left: 0px;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 32px;
}
@keyframes fade-out {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}
@keyframes fade-in {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@media (min-width: 1300px) {
  nav {
    animation-name: fade-in;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }
}
@media (max-width: 1300px) {
  nav {
    animation-name: fade-out;
    animation-duration: 0.2s;
    pointer-events: none;
    animation-fill-mode: forwards;
  }
}
nav .navObj {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 16px;
  cursor: pointer;
}
nav .navObj:hover .dot span {
  color: #241f24;
}
nav .navObj .text {
  transition: 0.2s;
  color: #241f24;
}
nav .navObj:hover .text {
  transform: translate(-8px, 0);
}
nav .navObj .dot {
  margin-right: 16px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}
nav .navObj .dot span {
  font-size: 0.7em;
  color: #ffffff;
  text-shadow: -1px 0 #ffffff, 1px 0 #ffffff, 0 1px #ffffff, 0 -1px #ffffff, -3px 0 #241f24, 0 3px #241f24, 3px 0 #241f24, 0 -3px #241f24, 2px 2px #241f24, -2px -2px #241f24, -2px 2px #241f24, 2px -2px #241f24;
  transition: 0.2s;
}
#top {
  min-height: 100vh;
  height: fit-content;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#top .title {
  padding: 8px 0px 80px 20%;
}
#top .title .tt {
  font-family: 'Rubik', sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 100%;
  background-repeat: repeat;
  background-color: #FA8970;
  background-image: linear-gradient(#FA8970, #7e3f8fff);
  margin-bottom: 0px;
}
@-moz-document url-prefix() {
  #top .title .tt {
    color: #FA8970;
    background-color: none;
    -webkit-text-fill-color: #FA8970;
  }
}
@media (min-width: 660px) {
  #top .title .tt {
    font-size: 8em;
  }
}
@media (max-width: 660px) {
  #top .title .tt {
    font-size: 20vw;
  }
}
#top .title .tt .sub {
  font-size: 0.7em;
}
@media (min-width: 1001px) {
  #top .title .tt .sub {
    display: block;
  }
}
@media (max-width: 1001px) {
  #top .title .tt .sub {
    display: none;
  }
}
#top .title .cont {
  color: #241f24;
  font-size: 1.2em;
  width: 80%;
}
#top .hr {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
}
#top .hr a {
  width: 4%;
}
#top .hr svg {
  fill: #7e3f8fff;
  opacity: 0.5;
  transition: 0.2s;
}
#top .hr svg:hover {
  opacity: 1;
}
.sectionBaseDefault {
  margin-top: 80px;
  box-sizing: border-box;
}
.sectionBaseDefault .container .cont h1 {
  font-size: 2.5em;
  font-family: 'Rubik', sans-serif;
  color: #7e3f8fff;
}
#about {
  margin-top: 80px;
  box-sizing: border-box;
}
#about .container .cont h1 {
  font-size: 2.5em;
  font-family: 'Rubik', sans-serif;
  color: #7e3f8fff;
}
#about .board {
  font-size: 1.2em;
  box-sizing: border-box;
  width: 800px;
  max-width: calc(100% - 20px);
}
#about .board .skill {
  width: fit-content;
}
#about .board .chips {
  box-sizing: border-box;
  margin: 40px 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#about .board .chips span {
  font-size: 0.8em;
  box-sizing: border-box;
  margin: 8px;
  padding: 3px 6px;
  border: 1px solid;
  border-radius: calc(3px);
}
#about .board .chips .green {
  color: green;
}
#about .board .chips .red {
  color: red;
}
#about .board .chips .orange {
  color: orange;
}
#about .board .chips .blue {
  color: blue;
}
#about .board .chips .purple {
  color: purple;
}
#projects {
  margin-top: 80px;
  box-sizing: border-box;
}
#projects .container .cont h1 {
  font-size: 2.5em;
  font-family: 'Rubik', sans-serif;
  color: #7e3f8fff;
}
@media (min-width: 880px) {
  #projects .projectList {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
  }
}
@media (max-width: 880px) {
  #projects .projectList {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
#projects .projectList .project {
  transition: 0.2s;
  margin: 20px auto;
  padding: 6px;
  box-sizing: border-box;
  width: 450px;
  max-width: calc(100% - 20px);
  max-height: 490px;
  min-height: fit-content;
  border-radius: calc(3px * 2);
  border: 1px solid #6f6d72;
  background: #ffffff;
  filter: drop-shadow(0px 4px 4px #36363648);
}
#projects .projectList .project:hover {
  transform: translateY(-20px);
}
#projects .projectList .project h2 {
  position: absolute;
  margin: 12px 10px;
  padding: 6px 12px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2rem;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px #36363648);
}
#projects .projectList .project .white {
  color: #ffffff;
  background-color: #241f2417;
  backdrop-filter: blur(10px);
}
#projects .projectList .project img {
  width: 100%;
  border-radius: 3px;
}
#projects .projectList .project .txtCont {
  box-sizing: border-box;
  width: 100%;
}
#projects .projectList .project .txtCont h3 {
  box-sizing: border-box;
  padding: 0px 20px;
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  color: #FA8970;
}
#projects .projectList .project .txtCont p {
  box-sizing: border-box;
  padding: 0px 20px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  color: #241f24;
}
#projects .projectList .project .txtCont .links {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
#projects .projectList .project .txtCont .links a {
  box-sizing: border-box;
  margin: 20px;
  padding: 6px 12px;
  text-decoration: none;
  border: 1px solid #241f24;
  border-radius: 3px;
  background: #ffffff;
  color: #241f24;
  transition: 0.2s;
}
#projects .projectList .project .txtCont .links a:hover {
  filter: brightness(0.9);
}
#contact {
  padding: 100px 0px 200px;
  margin-top: 80px;
  box-sizing: border-box;
}
#contact .container .cont h1 {
  font-size: 2.5em;
  font-family: 'Rubik', sans-serif;
  color: #7e3f8fff;
}
#contact h1 {
  text-align: center;
}
#contact .cont div {
  padding: 20px 0px 100px;
  box-sizing: border-box;
}
#contact .cont div p {
  text-align: center;
}
#contact .cont div a {
  display: block;
  width: fit-content;
  box-sizing: border-box;
  margin: 20px auto;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #241f24;
  border-radius: 3px;
  background: #ffffff;
  color: #241f24;
  transition: 0.2s;
}
#contact .cont div a:hover {
  filter: brightness(0.9);
}
