//?^ Stuff for pretty much all my projects
body {
    font-family: 'Fira Code', monospace;
    padding: 0px;
    margin: 0px;

    //?^ for this project
    background-color: @main
}
html {scroll-behavior: smooth;}

//!NOTE: a lot of my comments will have there own markins at the front, I do however put fallback marks
//!~ but I recommend the settings because it will make the comments cooler.

//! ------ Vars ------
@main:#ffffff;
@bubble:#fcfde7;
@outline: #6f6d72;
@text:#241f24;
@accent:#7e3f8fff;
@secondary: #FA8970;
@titles:@accent;

//$ @titles:#564256ff;

@inner-nav: @main;
@outline-nav: @text;
@dropShadow: drop-shadow( 0px 4px 4px #36363648);
@borderR: 3px;
//! -------------------

:root {
    //? passed color to js
    --secondary: @secondary;
}

//* ------ Misc Styles and functions ------
.tr02 {transition: 0.2s};

.h1 {
    font-size: 2.5em;
    font-family: 'Rubik', sans-serif;
}

.section {
    margin-top: 80px;
    box-sizing: border-box;
}

//? Reactive-Width < wr
.width-reactive {
    // @media (min-width: 970px) {
    //     width: 50%;
    // }
    // @media (max-width: 970px) {
    //     width: 90%;
    // }

    width: 1000px;
    max-width: calc(100% - 100px);
}

.fillgrad {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    background-size: 100%;
    background-repeat: repeat;

    @-moz-document url-prefix() {
        color: @secondary;
        background-color: none;
        -webkit-text-fill-color: @secondary;
    }
}

//? styles link, note related to underline
.link {
    color: @secondary;
    text-decoration: none;
}

//? centers and makes the content of a section reactive to window size > goto wr
.container {
    margin: auto;
    .width-reactive();
}

//?#   ================================================================
//?#   =                        Sections css                          =
//?#   ================================================================
@keyframes fade-out{
    from {opacity: 100%;}
    to {opacity: 0%;}
}
@keyframes fade-in{
    from {opacity: 0%;}
    to {opacity: 100%;}
}
nav {
    @media (min-width: 1300px) {
        animation-name: fade-in;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
    }
    @media (max-width: 1300px) {
        animation-name: fade-out;
        animation-duration: 0.2s;
        pointer-events: none;
        animation-fill-mode: forwards;
    }
    box-sizing: border-box;
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 32px;
    .navObj {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: 16px;
        cursor: pointer;

        &:hover .dot span  {
            color: @outline-nav;
        }
        .text {
            .tr02();
            color: @outline-nav;

        }
        &:hover .text {
            transform: translate(-8px, 0);
        }

        .dot {
            margin-right: 16px;
            span {
                font-size: 0.7em;
                color: @inner-nav;
                //stfu don't look at this css line I am lazy man, don't judge you are too.
                text-shadow: -1px 0 @inner-nav, 1px 0 @inner-nav, 0 1px @inner-nav, 0 -1px @inner-nav, -3px 0 @outline-nav, 0 3px @outline-nav, 3px 0 @outline-nav, 0 -3px @outline-nav, 2px 2px @outline-nav, -2px -2px @outline-nav, -2px 2px @outline-nav, 2px -2px @outline-nav;
                .tr02();
            }
            text-align: center;
            vertical-align: middle;
            height: 100%;
        }
    }
}

#top {
    min-height: 100vh;
    height: fit-content;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
        padding: 8px 0px 80px 20%;
        .tt {
            font-size: 8em;
            font-family: 'Rubik', sans-serif;
            .fillgrad();
            background-color: @secondary;
            background-image: linear-gradient( @secondary, @accent);
            .sub {
                font-size: .7em;
            }
            margin-bottom: 0px;
        }
        .cont {
            color: @text;
            font-size: 1.2em;
            width: 80%;
        }
    }
    .hr {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        align-items: center;
        justify-content: center;
        a {
            width: 4%;
        }
        svg {
            fill: @accent;
            opacity: 0.5;
            .tr02();
            &:hover {
                opacity: 1;
            }
        }
    }
}

//? Just my basic setup for my sections.
.sectionBaseDefault {
    box-sizing: border-box;
    .section();
    .container {
        .cont {
            h1 {
                .h1();
                color: @titles;
            }
        }
    }
}

#about {
    .sectionBaseDefault();
    .board {
        font-size: 1.2em;
        box-sizing: border-box;
        width: 70%;
        .skill {
            width: fit-content;
        }
        .chips {
            box-sizing: border-box;
            margin: 40px 5px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            span {
                font-size: 0.8em;
                box-sizing: border-box;
                margin: 8px;
                padding: 3px 6px;
                border: 1px solid;
                border-radius: calc(@borderR);
            }
            .green {color: green;}
            .red {color: red;}
            .orange {color: orange;}
            .blue {color: blue;}
            .purple {color: purple;}
        }
    }
}

#projects {
    .sectionBaseDefault();
    .projectList {

        @cardWidth: 450px;

        @media (min-width: 880px) {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, calc(50% - 10px));
        }
        @media (max-width: 880px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .project {
            .tr02();
            &:hover {
                transform: translateY(-20px);
            }

            //bounds
            margin: 20px auto;
            padding: 6px;
            box-sizing: border-box;

            //size
            width: @cardWidth;
            max-width: calc(100% - 20px);
            max-height: 490px;
            min-height: fit-content;

            //looks
            border-radius: calc(@borderR * 2);
            border: 1px solid @outline;
            background: @main;
            filter: @dropShadow;

            h2 {
                //bounds
                position: absolute;
                margin: 12px 10px;
                padding: 6px 12px;

                //looks
                font-family: 'Rubik', sans-serif;
                font-size: 1.2rem;
                border-radius: @borderR;
                filter: @dropShadow;
            }
            .white { //? TITLES
                color: @main;
                background-color: #241f2417;
                backdrop-filter: blur(10px);
            }
            img {
                width: 100%;
                border-radius: @borderR;
            }
            .txtCont {
                box-sizing: border-box;
                width: 100%;
                h3 {
                    box-sizing: border-box;
                    padding: 0px 20px;

                    font-family: 'Rubik', sans-serif;
                    font-size: 1.5rem;
                    color: @secondary;
                }
                p {
                    box-sizing: border-box;
                    padding: 0px 20px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    white-space: wrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    height: 60px;
                    color: @text;
                }
                .links {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    width: 100%;
                    a {
                        box-sizing: border-box;
                        margin: 20px;
                        padding: 6px 12px;

                        text-decoration: none;
                        border: 1px solid @text;
                        border-radius: @borderR;
                        background: @main;
                        color: @text;
                        .tr02();
                        &:hover {
                            filter: brightness(0.9);
                        }
                    }
                }
            }
        }
    }
}

#contact {
    padding: 100px 0px 200px;
    .sectionBaseDefault();
    h1 {
        text-align: center;
    }
    .cont {
        div {
            padding:20px 0px 100px;
            box-sizing: border-box;

            p {
                text-align: center;
            }
            a {
                display: block;
                width: fit-content;
                box-sizing: border-box;
                margin: 20px auto;
                padding: 10px 20px;

                text-decoration: none;
                border: 1px solid @text;
                border-radius: @borderR;
                background: @main;
                color: @text;
                .tr02();
                &:hover {
                    filter: brightness(0.9);
                }
            }
        }
    }
}