//?^ -=- Stuff for pretty much all my projects -=-
body {
    font-family: 'Fira Code', monospace;
    padding: 0px;
    margin: 0px;

    //?^ for this project
    background-color: @main
}
html {scroll-behavior: smooth;}

//!NOTE: a lot of my comments will have there own markins at the front, I do however put fallback marks
//!~ but I recommend the settings because it will make the comments cooler.

//! ------ Vars ------
@main:#ffffff;
@bubble:#bfbfbfff;
@outline: #96939bff;
@text:#241f24;
@accent:#7e3f8fff;
@secondary: #FA8970;
@titles:@accent;

//$ @titles:#564256ff;

@inner-nav: @main;
@outline-nav: @text;
@dropShadow: drop-shadow( 0px 4px 4px #36363648);
//! -------------------

:root {
    //? passed color to js
    --secondary: @secondary;
}

//* ------ Misc Styles and functions ------
.tr02 {transition: 0.2s};

.h1 {
    font-size: 2.5em;
    font-family: 'Rubik', sans-serif;
}

.section {
    margin-top: 80px;
    box-sizing: border-box;
}

//? Reactive-Width < wr
.width-reactive {
    @media (min-width: 970px) {
        width: 50%;
    }
    @media (max-width: 970px) {
        width: 90%;
    }
}

.fillgrad {
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    background-size: 100%;
    background-repeat: repeat;

    @-moz-document url-prefix() {
        color: @secondary;
        background-color: none;
        -webkit-text-fill-color: @secondary;
    }
}

//? styles link, note related to underline
.link {
    color: @secondary;
    text-decoration: none;
}

//? centers and makes the content of a section reactive to window size > goto wr
.container {
    margin: auto;
    .width-reactive();
}

//?#   ================================================================
//?#   =                        Sections css                          =
//?#   ================================================================

nav {
    position: fixed;
    top: 50%;
    left: 0px;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 32px;
    .navObj {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: 16px;
        cursor: pointer;

        &:hover .dot span  {
            color: @outline-nav;
        }
        .text {
            .tr02();
            color: @outline-nav;

        }
        &:hover .text {
            transform: translate(-8px, 0);
        }

        .dot {
            margin-right: 16px;
            span {
                font-size: 0.7em;
                color: @inner-nav;
                //stfu don't look at this css line I am lazy man, don't judge you are too.
                text-shadow: -1px 0 @inner-nav, 1px 0 @inner-nav, 0 1px @inner-nav, 0 -1px @inner-nav, -3px 0 @outline-nav, 0 3px @outline-nav, 3px 0 @outline-nav, 0 -3px @outline-nav, 2px 2px @outline-nav, -2px -2px @outline-nav, -2px 2px @outline-nav, 2px -2px @outline-nav;
                .tr02();
            }
            text-align: center;
            vertical-align: middle;
            height: 100%;
        }
    }
}

#top {
    min-height: 100vh;
    height: fit-content;

    padding: 0px;
    margin: 0px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title {
        padding: 8px 0px 80px 20%;
        .tt {
            font-size: 8em;
            font-family: 'Rubik', sans-serif;
            .fillgrad();
            background-color: @secondary;
            background-image: linear-gradient( @secondary, @accent);
            .sub {
                font-size: .7em;
            }
            margin-bottom: 0px;
        }
        .cont {
            color: @text;
            font-size: 1.2em;
            width: 80%;
        }
    }
    .hr {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        align-items: center;
        justify-content: center;
        a {
            width: 4%;
        }
        svg {
            fill: @accent;
            opacity: 0.5;
            .tr02();
            &:hover {
                opacity: 1;
            }
        }
    }
}

//? Just my basic setup for my sections.
.sectionBaseDefault {
    .section();
    .container {
        .cont {
            h1 {
                .h1();
                color: @titles;
            }
        }
    }
}

#about {
    .sectionBaseDefault();
}

#projects {
    .sectionBaseDefault();
    .projectList {
        display: grid;
        gap: 20px;
        @media (min-width: 970px) {
            grid-template-columns: auto auto;
            justify-content: space-between;
        }
        @media (max-width: 970px) {
            grid-template-columns: auto;
            justify-content: space-around;
        }

        .project {
            * {.tr02();}
            img {
                width: 400px;
                filter: saturate(0);
                opacity: 60%;
                border-radius: 5px;
            }
            h2 {
                position: absolute;
                z-index: 6;
                color: @secondary;
                &:not(.moreH2){
                    filter: @dropShadow;
                    transform: translateX(10px);
                }
                &::after {
                    z-index: -111111;
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 5px;
                    background-color: @secondary;
                    content: "";
                    .tr02();
                }
            }
            width: 100%;
            &:hover {
                & img {
                    filter: saturate(1);
                    opacity: 100%;
                }
                & h2::after {
                    // transform: translateY(calc(-2rem + 5px));
                    transform: translateY(-2rem);
                    height: 2rem;
                }

                & h2:not(.moreH2){
                    filter: @dropShadow;
                    transform: translateX(-20px);
                }

                & h2 {
                    color: @main;
                }
            }
        }
        .current, .favorite {
            grid-area: 1;
        }
        .more {
            grid-row: 2 / span 2;
        }
    }
}

#contact {
    .sectionBaseDefault();
}