@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

@white: #ffffff;
@second-color: #cecece;

@rich-black-fogra-39: #0a0908ff;
@gunmetal: #22333bff;
@gunmetal-t: #22333bc7;

//NOTE: pallete
@fiery-rose: #ef626cff;
@blue-violet-color-wheel: #5f0a87ff;
@mindaro: #d6ff79ff;
@blue-crayola: #256effff;

//page
@page: #ef626cff;
@accent-color: #D6FF79;
//root==============================================================
html {
    padding: 0px;
}
body {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 0);
    background-color: @page;
    transition: 0.24s;
}

body:hover {
    color: rgba(0, 0, 0, 0.418);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    display: none;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: padding-box;
    box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.733);
}

#page {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: @page;
    flex-direction: column;
}
//Top Nav==============================================================
#topNav {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: none;
    z-index: 999;

    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 20px;
}

.navObj {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 10%;
    color: @white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    a {transition: 0.15s;}:hover {
        cursor: pointer;
        color: @accent-color;
    }
}

.sqrButton {
    padding: 0px;
    height: 100%;
    align-items: center;
    a {
        align-items: center;
        text-align: center;

        // transition: 0.15s;
        padding: 1px;
        color: @page;
        z-index: 100;
        font-weight: bold;
    }:hover ~ .fill {
        width: 0%;
    }
    .fill {
        z-index: 80;
        background-color: @accent-color;
        position: absolute;
        width: 5%;
        height: 50%;
        transition: 0.15s;
    }
}
//title==============================================================
#top {
    position: relative;
    height: 68vh;
    padding: 0px;
    margin: 0px;
    background: none;
    z-index: 2;
    @media (max-width: 715px) {
        padding-bottom: 200px;
    }
}

#mainTitle {
    height: auto;
    color: @accent-color;
    font-family: 'Koulen', cursive;
    font-size: 700%;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 30px;
    letter-spacing: 10px;
    position: relative;
    top: 18%;
    
    pre {
        padding: 0px;
        margin: 0px;
    }
    @media (min-width: 970px) {
        width: 50%;
    }
    @media (max-width: 970px) {
        width: 90%;
    }
}

#titleCont {
    display: flex;
    flex-direction: row;
}

.cog {
    a:nth-child(2) {
        z-index: 2;
        text-decoration: underline;
        text-decoration-color: @accent-color;
    }
    a:nth-child(3) {
        color: @blue-crayola;
        text-decoration: underline;
        text-decoration-color: @blue-crayola;
        z-index: 2;
    }
    div:nth-child(1) {
        position: absolute;
        width:100%;
        height:100%;
        -webkit-box-shadow: inset 0px 37px 14px -30px @page, inset 0px -31px 14px -30px @page; 
        box-shadow: inset 0px 37px 14px -30px @page, inset 0px -31px 14px -30px @page;
        z-index: 3;
    }
    margin-left: 270px;
    display: flex;
    flex-direction: column;
    height: 35%;
    overflow: hidden;
    position: absolute;
}
//Skills==============================================================
#skills {
    padding-top: 0px;
    padding-bottom: 100px;
    z-index: 1;
    height: auto;
    background-color: @page;
    flex-direction: column;
}

.skills {
    box-shadow: @gunmetal-t 0px 0px 10px;
    z-index: 2;
    border-radius: 6px;
    flex-direction: column;
    background-color: @second-color;
    color: @gunmetal;
    @media (min-width: 970px) {
        width: 50%;
    }
    @media (max-width: 970px) {
        width: 90%;
    }
    overflow: hidden;
}

.window-top {
    z-index: 5;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1.7rem;
}
.window {
    z-index: 5;
    background-color: @white;
    height: 350px;

}

.tab {
    z-index: 5;
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: auto;
    min-width: 10%;
    height: 100%;
    background-color: @second-color;
    border-radius: 6px 6px 0px 0px;
    outline: none;
    border: none;
    text-align: left;
    transition: 0.12s;
    svg {
        width: auto;
        min-width: 8%;
        height: 99%;
        margin-right: 5px;
    }
}
.tab:not(.active):hover {
    filter: brightness(0.9);
}

#html svg {
    height: 99%;
}

.active {
    background-color: @white;
}


//button style
.button {
    position: relative;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    width: auto;
    background-color: @rich-black-fogra-39;
    color: @second-color;
    border-radius: 6px;

    transition: 0.25s;
}

.button:hover {
    transform: scale(1.1);
}

//section style
.section {
    display: grid;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

//float center
.float-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Center
.parent-center {
    display: flex;
    justify-content: center;
}

.center {
    position: relative;
    margin: auto;
}

//misc
.wrap-word {
    overflow-wrap: break-word;
}

.hide {
    display: none;
}
//select
.no-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }