@white: #ffffff;
@rich-black-fogra-39: #0a0908ff;
@gunmetal: #22333bff;
@gunmetal-t: #22333bc7;


@page-top: #ffffff;
@page-bottom: #008cff;

@second-color: #cecece;

@accent-color: #ff3300;
@accent-color-dark: #a12000;

//root==============================================================
html {
    padding: 0px;
}
body {
    margin: 0px;
    overflow-x: hidden;
    overflow-y: overlay;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 0);
    background-color: @page-bottom;
    transition: 0.24s;
}

body:hover {
    color: rgba(0, 0, 0, 0.418);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    display: none;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: padding-box;
    box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.733);
}

#page {
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: @page-top;
    flex-direction: column;
}
//title==============================================================
#top {
    position: relative;
    height: 68vh;
    padding: 0px;
    margin: 0px;
    background: none;
    z-index: 2;
}

#mainTitle {
    text-shadow: @gunmetal-t 0px 0px 8px;
    color: @accent-color;
    font-family: 'Koulen', cursive;
    font-size: 70px;
    pre {
        padding: 0px;
        margin: 0px;
    }
    position: relative;
    top: 18%;
    @media (min-width: 970px) {
        width: 50%;
    }
    @media (max-width: 970px) {
        width: 90%;
    }
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 30px;
    
    letter-spacing: 10px;
    
    text-shadow: 1px 1px 0px @accent-color-dark,
                2px 2px 0px @accent-color-dark,
                3px 3px 0px @accent-color-dark,
                4px 4px 0px @accent-color-dark,
                5px 5px 0px @accent-color-dark,
                6px 6px 0px @accent-color-dark,
                7px 7px 0px @accent-color-dark,
                8px 8px 0px @accent-color-dark,
                9px 9px 0px @accent-color-dark,
                10px 10px 0px @accent-color-dark;
}
//Skills==============================================================
#skills {
    padding-top: 0px;
    padding-bottom: 100px;
    z-index: 1;
    height: auto;
    background-image: linear-gradient(@page-top 20%, @page-bottom 20%);
    background-color: @page-bottom;
    flex-direction: column;
}

.skills {
    box-shadow: @gunmetal-t 0px 0px 10px;
    z-index: 2;
    border-radius: 6px;
    flex-direction: column;
    background-color: @second-color;
    color: @gunmetal;
    @media (min-width: 970px) {
        width: 50%;
    }
    @media (max-width: 970px) {
        width: 90%;
    }
    overflow: hidden;
}

.window-top {
    z-index: 5;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.window {
    z-index: 5;
    background-color: @white;
    height: 350px;

}

.tab {
    z-index: 5;
    display: flex;
    flex-direction: row;
    padding: 5px;
    width: 10%;
    background-color: @second-color;
    border-radius: 6px 6px 0px 0px;
    outline: none;
    border: none;
    text-align: left;
    transition: 0.12s;
    svg {
        width: 15%;
        height: auto;
        margin-right: 5px;
    }
}
.tab:not(.active):hover {
    filter: brightness(0.9);
}

#html svg {
    width: 17%;
}

.active {
    background-color: @white;
}


//classes==============================================================

//button style
.button {
    position: relative;
    padding: 15px 25px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    width: auto;
    background-color: @rich-black-fogra-39;
    color: @second-color;
    border-radius: 6px;

    transition: 0.25s;
}

.button:hover {
    transform: scale(1.1);
}

//section style
.section {
    display: grid;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
}

//float center
.float-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Center
.parent-center {
    display: flex;
    justify-content: center;
}

.center {
    position: relative;
    margin: auto;
}

//misc
.wrap-word {
    overflow-wrap: break-word;
}

.hide {
    display: none;
}