body { 
    overflow-x: hidden;
    overflow-y: overlay;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    color: rgba(0, 0, 0, 0);
}

body:hover {
    color: var(--color-transparent);
    transition: color 0.3s ease;
}

#menu {
    color: var(--text-color);
}

#float {
    padding: 0px;
    display: flex;
    flex-direction: row;

    position: fixed;
    top: 0;
    left: 50%;
    width: 98%;
    height: 70px;
    background-color: var(--dark-1);
    z-index: 99999;
    justify-content: center;
    align-items: center;
    
    transform: translate(-50%);
    box-shadow: var(--drop-shadow) 0px 0px 10px;
    
    margin: 5px;
    border-radius: 10px;
}
#per{
    height: 70px;
    width: 50%;

    display: flex;
    padding: 0px;
    flex-direction: row;

    align-items: center;
}
#cells {
    height: 70px;
    width: 50%;

    display: flex;
    padding: 0px;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.section {
    padding: 10px;
    text-align: center;
    margin: auto;
    transition: 0.25s;
    color: var(--text-color);
}

.section:hover{
    color: var(--color-pink);
    cursor: pointer;
}

.pfp {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 15px 10px 15px;
    outline: var(--color-pink) solid 2px;
    transition: 0.25s;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.pfp:hover{
    transform: rotate(25deg);
}