#projects {
    background-color: var(--dark-1);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
/* top | right | bottom | left */

#projCont {
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 60%;
}

@media screen and (max-width: 920px) {
    #projCont {
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;

        -moz-box-shadow: inset 1px 1px 20px 4px var(--dark-2);
        -webkit-box-shadow: inset 1px 1px 20px 4px var(--dark-2)k;
        box-shadow: inset 1px 1px 20px 4px var(--dark-2);
        border-radius: 6px;
    }
}

@media screen and (max-width: 626px) {
    #projCont {
        position: relative;
        display: grid;
        grid-template-columns: auto;
        height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;

        -moz-box-shadow: inset 1px 1px 20px 4px var(--dark-2);
        -webkit-box-shadow: inset 1px 1px 20px 4px var(--dark-2)k;
        box-shadow: inset 1px 1px 20px 4px var(--dark-2);
        border-radius: 6px;
    }
}

.proj {
    display: table;
    
    text-align: center;
    align-items: center;
    justify-content:center;

    color: var(--white-transparent);
    padding: 15px;
    margin: 20px;
    height: 170px;
    background-color: var(--color-transparent);
    border-radius: 6px;
    box-shadow: var(--dark-2) 0px 0px 10px;
}

.proj h1 {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
