.iContainer {
    display: flex;
    flex-direction: column;

    margin: 40px;
    margin-top: 200px;
    padding: 10px;
    width: 45%;
    height: 250px;

    border-radius: 6px;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
    
}

.info {
    bottom: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    /* background: var(--color-pink); */
    background-color: linear-gradient(to top,  var(--dark-1),10px , var(--color-pink));
    z-index: 0;
}

#skills {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 400px;
    width: 100%;
    background: var(--dark-1);
}
/* Arrow */
.iContainer svg {
    display: block;
    text-align: center;
    height: 50%;
    fill: var(--color-transparent);
}

.ictxt p, .ictxt h1 {
    margin: 20px 30px 5px 30px;
    color: var(--text-color);
    width: auto;
}

@media screen and (max-width: 948px) {
    #iconInfo {
        position: relative;
        border-radius: 6px;
        background-color: var(--color-transparent);
        height: 35%;
        bottom: -83px;
        width: 99%;
        backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}

@media screen and (min-width: 948px) {
    #iconInfo {
        position: relative;
        border-radius: 6px;
        background-color: var(--color-transparent);
        height: 92%;
        width: calc(100% - 200px);
        left: 190px;
        min-width: 227px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }
}


.active {
    filter: drop-shadow(0px 0px 10px var(--drop-shadow));
    position: absolute;
    width: 90px;
    fill: var(--text-color);
    z-index: 1;
}

.skill {
    filter: drop-shadow(0px 0px 10px var(--drop-shadow));
    position: absolute;
    width: 90px;
    fill: var(--white-transparent);
    z-index: 1;
}

.skill:hover {
    cursor: pointer;
    z-index: 2;
}

.skill:nth-child(1) {
    left: 10%;
    top: 60px;
}

.skill:nth-child(2) {
    left: 30%;
    top: 10px;
}

.skill:nth-child(3) {
    left: 50%;
    top: 80px;
}

.skill:nth-child(4) {
    left: 70%;
    top: 150px;
}

.skill:nth-child(5) {
    left: 85%;
    top: 10px;
}

