:root {
    --drop-shadow: rgba(114, 114, 114, 0.204);
    --color-pink: rgba(255, 69, 171, 1);
    --dark-1: rgba(43, 23, 40, 1);
    --dark-2: rgba(32, 18, 30, 1);
    --text-color: rgba(255, 255, 255, 1);
    --color-transparent: rgba(126, 98, 125, 0.302);
    --white-transparent: rgba(255, 255, 255, 0.651);
    --cute-yellow: rgba(253, 253, 150, 1);
}


::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0);
    display: none;
}
   
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-clip: padding-box;
    box-shadow: inset 0 0 0 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-pink);
}

.nosel {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}